/* Desktop Styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('bg.webp') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(10px);
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;
    overflow: auto; /* Add overflow auto to handle content clipping */
}

h1, h2 {
    margin: 10px 0;
}

input[type="number"] {
    margin: 5px 0;
    padding: 5px;
    width: 60px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Mobile Styles */
@media (max-width: 600px) {
    body {
        background-attachment: fixed; /* Keep the background static on mobile */
    }
    
    .container {
        width: 90%;
        padding: 15px;
        margin: 10px auto; /* Ensure some margin on mobile */
        max-height: calc(100vh - 40px); /* Ensure container fits within viewport */
        overflow: auto; /* Add overflow auto to handle content clipping */
    }

    h1, h2 {
        font-size: 20px;
    }

    input[type="number"] {
        padding: 8px;
        font-size: 16px;
        width: 80px; /* Narrower width for input fields on mobile */
        box-sizing: border-box; /* Include padding and border in the element's total width */
    }

    button {
        padding: 12px 20px;
        font-size: 16px;
        width: 100%; /* Make button full-width */
        box-sizing: border-box; /* Include padding and border in the element's total width */
    }
}
